@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffd004;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 53px;
    padding: 0 20px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    list-style: none;
    padding:20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a :hover{
    background-color: black;
    color: gold;
    font-size: 150%;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color: #534d4d;
    color: white;
     font-family: 'Montserrat', sans-serif;
}